.title {
	margin-left: 10vw;
}
.memetweet_container{
	margin: 0 auto;
	box-shadow: 0px 0px 10px #ccc;
	width: 50%;
	background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    position: relative;
}

.memetweet_person{
	padding: 10px 25px 10px 25px;
	border:1px solid #ddd;
	border-radius: 4px 4px 0 0;
	overflow: auto;
}

.memetweet_content{
	border:1px solid #ddd;
	padding: 25px;
	border-radius: 4px 4px 0 0;
}

.memetweet_image{
	width: 100%;
}

.memetweet_name{
	display: inline-block;
	font-size: 25px;
	top: 5px;
	position: relative;
}
.heart{
	position: relative;
	float: right;
	display: inline-block;
}

.default_button{
	padding: 10px;
	background-color: white;
	border: 1px #ccc solid;
	border-radius: 4px;
	height: 40px;
}

.retweet2{
	position: relative;
	float: right;
}

.default_button:hover{
	background-color: #ccc;
}

.comment_bar{
	display: inline;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.comment_bar:hover{
	background-color: #ccc;
}

.comment_content{
	border:1px solid #ddd;
	border-radius: 4px 4px 0 0;
	padding: 15px;
}

.comment_person{
	padding: 15px;
}

.comment_container{
	border:1px solid #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: 0px 0px 10px #ccc;
	margin: 1vw;
}

p{
	margin: 2px;
}

.add_comment{
	display: inline;
	float: right;
}

.panel-heading{
	overflow: auto;
	height: 60px;
}

.view_comments{
	display: inline;
	position: relative;
	top: 10px;
}

textarea{
	border-radius: 4px;
	width: 100%;
	margin: 0 auto;	
}

.seemore {
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 10px;
    text-align: center;
    font-size: 17;
    width: 50%;
    box-shadow: 0px 0px 10px #ccc;
    margin: 0 auto;
}

.seemore:hover {
	cursor: pointer;
}

.blocking{
	opacity: 1;
	background-color: #eee;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	z-index: 15;
}

.warning{
	text-align: center;
    width: 50%;
    margin: 0 auto;
    top: 40%;
    position: relative;
}

.seeanyways{
    position: relative;
    top: 45%;
    margin: 0 auto;
    display: block;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

.seeanyways:hover{
	background-color: #ccc;
	cursor: pointer;
}