{% extends "menu.html" %}

<!--
select t1.memeid, t1.count as retweets, t2.userid, t3.username, t4.count as upvotes ,t5.imageurl, t5.title 
from(
	select memeid,count(memeid)
	from retweet                                                                                         
	where memeid in (
		select memeid
		from retweet
		group bymemeid
	)         
	as t1,
	(select*
		from memetweet
		where memetweet.id in(
			select bt.memeid    
				from belongsto as bt          
				where bt.categoryname = 'animals'
			)
		)
	as t2,
	(select *
	from defaultuser) 
	as t3,
	(select memeid,count(memeid)
	from upvotes 
		where memeid in (select memeid 
		from upvotes)
		group by memeid     
	) 
	as t4,
	(select *
	from memetweet) as t5 
where t1.memeid = t2.id
and t4.memeid = t2.id
and t2.userid = t3.id   
and t5.id = t2.id
order by t1.count+t4.count desc;




