{% extends "memetweet.html" %}

{% block links %}
	{{super()}}
	<link rel='stylesheet' href='{{ url_for("static", filename="users.css") }}'>
{% endblock %}

{% block users %}
<div class = "container infocontainer">
	<div class="mysidebar">
          <ul class="nav nav-sidebar info">
          	<div>
	            {% for n in usernames %}
	            <li id='infoname'>            
				{{n}}	
			    </li>
			{% endfor %}
			</div>
          	<div>
	            {% for n in retweet %}
	            <li>            
				{{n}} Retweets	
			    </li>
			{% endfor %}
			</div>

          	<div>
	            {% for n in upvote %}
	            <li>            
				{{n}} Upvotes
			    </li>
			{% endfor %}
			</div>
          </ul>

          <ul class="nav nav-sidebar info">
             People Following You:
             <div style = "height: 100px overflow-y: scroll">
                {% for n in followers %}
                {% set urlname = '/users/' + n.id + '/' %}
	            <li>            
				<a href= {{urlname}}> {{n.name}} </a>
			    </li>
			    {% endfor %}
			    {% if followers|length == 0 %}
			    	No one :(
			    {% endif %}
             </div>
          </ul>


          <ul class="nav nav-sidebar info">
			 People You're Following:
             <div style = "height: 100px overflow-y: scroll">
				{% for n in followees %}
                {% set urlname = '/users/' + n.id + '/' %}
	            <li>            
				<a href= {{urlname}}> {{n.name}} </a>
			    </li>
			    {% endfor %}
			    {% if followees|length == 0 %}
			    	No one :(
			    {% endif %}
             </div>
          </ul>
          {% if admin == 1%}
          <ul class="nav nav-sidebar info">
			 <div id = 'admin'>

			    Avg Rating:
			    <li>
			    {% if not ratings == -1%}
			    	{{ratings}}
			    {% else %}
			    	Admin doesn't have a rating yet!
			    {% endif %}
			    </li>
			 </div>
          </ul>
		  {% if loggedin %}
          <ul class="nav nav-sidebar info">
			 <div id = 'adminrating'>

			        <div>Rate This Admin:</div>
			        	<div>
			            	<div id = "ratings" class="btn-group" data-toggle="buttons">
			                	<label>
			                    	<input type="button" id="r1" value="1" onClick = "implementvote(1);"/>
			                	</label> 
			                	<label >
			                    	<input type="button" id="r2" value="2" onClick = "implementvote(2);"/>
			                	</label> 
			                	<label>
			                    	<input type="button" id="r3" value="3" onClick = "implementvote(3);"/>
			                	</label> 
			                	<label>
			                    	<input type="button" id="r4" value="4" onClick = "implementvote(4);"/>
			               		</label> 
			                	<label>
			                    	<input type="button" id="r5" value="5" onClick = "implementvote(5);"/>
			                	</label>
			            	</div>
			        	</div>
			    	</div>
			    	{% endif %}
			 </div>
			 {% endif %}
        </ul>


<script>

	function implementvote(value){
		var path = window.location.pathname;
		$.ajax({
        	method: "POST",
        	url: "/updatevote/",
        	data: { vote: value,
        		userid: path},
        	success: function(){
        		alert("Rated admin as a " + value );
        		location.reload();

        	}  
      	});
    }


</script>

    </div>
</div>



{% endblock %}

{% block isadmin %}
	document.getElementById('adminrating').innerHTML = "You can't rate other admins!";
{% endblock %}