{% extends "menu.html" %}

{% block users %}
<div class = "container">
	<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          	<div>
	            {% for n in usernames %}
	            <li>            
				{{n}}	
			    </li>
			{% endfor %}
			</div>
          	<div>
	            {% for n in retweet %}
	            <li>            
				{{n}} Retweets	
			    </li>
			{% endfor %}
			</div>

          	<div>
	            {% for n in upvote %}
	            <li>            
				{{n}} Upvotes
			    </li>
			{% endfor %}
			</div>
          </ul>


          <ul class="nav nav-sidebar">
             People Following You:
             <div style = "height: 100px overflow-y: scroll">
                {% for n in followers %}
	            <li>            
				{{n}} 
			    </li>
			    {% endfor %}
             </div>
          </ul>



          <ul class="nav nav-sidebar">
			 People Your Following:
             <div style = "height: 100px overflow-y: scroll">
				{% for n in followees %}
	            <li>            
				{{n}} 
			    </li>
			    {% endfor %}
             </div>
          </ul>
    </div>
</div>

<div>
{% for n in followers %}
	<li>{{n}}</li>
{% endfor %}
</div>

<div>
{% for n in followees %}
	<li>{{n}}</li>
{% endfor %}
</div>

{% endblock %}